<%= form_with(model: movie, class: "movie-form") do |form| %>
  <% if movie.errors.any? %>
    <div class="error-messages" style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :release_date %>
    <%= form.date_field :release_date %>
  </div>

  <div class="actions">
    <%= form.submit movie.persisted? ? "Update Movie" : "Create Movie", class: "btn" %>
    <%= link_to "Back to movies", movies_path, class: 'btn' %>
  </div>
<% end %>
