<div class="container">
  <h1>All Movies</h1>

  <table id="movies">
    <thead>
      <tr>
        <th class="<%= "sorted-#{@direction}" if @sort_column == 'title' %>"><%= sortable "title", "Movie Title" %></th>
        <th class="<%= "sorted-#{@direction}" if @sort_column == 'rating' %>"><%= sortable "rating", "Rating" %></th>
        <th class="<%= "sorted-#{@direction}" if @sort_column == 'release_date' %>"><%= sortable "release_date", "Release Date" %></th>
        <th>More Info</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date.strftime("%B %d, %Y") %></td>
          <td><%= link_to "More about #{movie.title}", movie_path(movie) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add new movie', new_movie_path, class: 'btn' %>
</div>
