<div class="container">
  <h1><%= @movie.title %></h1>

  <p style="color: green"><%= notice %></p>

  <%= render @movie %>

  <div class="actions">
    <%= link_to "Edit", edit_movie_path(@movie), class: 'btn' %>
    <%= link_to "Back to movies", movies_path, class: 'btn' %>
    <%= button_to "Delete", @movie, method: :delete, class: 'btn btn-danger', form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
</div>
